.hit,
.ship,
.miss,
.empty {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: auto;

}

.hit {
  background-color: red;
}

.ship {
  background-color: black;
}

.miss {
  background-color: black;
  width: 4px;
  height: 4px;
  margin: 6px;

}

.empty {

}
