table {
  cursor: pointer;
  background-color: var(--battle-area-bg-color, chartreuse);
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 2px;
}

.notActive {
  opacity: 0.3;
  cursor: not-allowed;
}
