<table *ngIf="battleArea" [class.notActive]="!isActive">
  <tr *ngFor="let row of battleArea.area">
    <td *ngFor="let cell of row; trackBy: trackByCellValue" (click)="clickOnCell(cell)">
      <app-ccell-view [cell]="cell"></app-ccell-view>
    </td>
  </tr>
</table>
