<div>
  <h1>Морской бой</h1>
  <button (click)="createNewGame()">Новая игра</button>
  <button (click)="toogleShowShip()">Корабли off/on</button>

  <fieldset>

    <h1 *ngIf="winner">Победитель {{winner.name}}</h1>
    <table>


      <tr>
        <td>
          <div>{{playerNameFirst}}</div>
          <app-cbattle-area-view [battleArea]="areaFirstToShow"
                                 [isActive]="!isActiveFirstPlayer"
                                 (cellClick)="clickOnCell($event)">
          </app-cbattle-area-view>
        </td>
        <td>-VS-</td>
        <td>
          <div>{{playerNameSecond}}</div>
          <app-cbattle-area-view [battleArea]="areaSecondToShow"
                                 [isActive]="isActiveFirstPlayer"
                                 (cellClick)="clickOnCell($event)">
          </app-cbattle-area-view>
        </td>
      </tr>
      <tr *ngIf="isShowShip">
        <td>
          <app-cbattle-area-view [battleArea]="areaFirst"
                                 [isActive]="false">
          </app-cbattle-area-view>
        </td>
        <td></td>
        <td>
          <app-cbattle-area-view [battleArea]="areaSecond"
                                 [isActive]="false">
          </app-cbattle-area-view>
        </td>
      </tr>

    </table>


  </fieldset>

</div>
